:root {
    --white: white;
    --gray: #3a3a3c;
    --whiteGray: #cecece;
    --red: #c80000;
    /* FONTS */
    --FamilyRoboto:'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--FamilyRoboto);
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}
